<h1>Runners!</h1>

<p><a href="/new_user">Become a Runner!</a></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr> 
        <div class ="td"><td><%= user.name %></td> </div>
        <td><%= user.email %></td>
        <td><a href="/users/<%= user.id %>">Show</a> </td>   
        <td><a href="/users/<%= user.id %>/edit">Edit</a></td>
        <td><a href="/users/<%= user.id %>/destroy">Destroy</a></td>
        
        <% if current_user %>
        <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
          <% data = current_user.distance_duration_to(user) %>
      <td class ="td"> Distance from you: <%= data[:distance] %> <br /> It should take you <%= data[:duration] %> to drive there. </td>
        <% else %>
           <td><a href="/users/<%=user.id%>/runwith">Find <%=user.name%> via your coordinates</a></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

