<h1>User #<%=@user.id%></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @user.name %></p>
</div>
<div>
  <b>Email</b>
<p><%= @user.email %></p>
  </div>
<div>
  <b>Pace</b>
  <p><%= @user.pace %></p>
  </div>
<div>
  <b>Distance</b>
  <p><%= @user.distance %></p>
  </div>
<div>
  <b>Location</b>
<p><%= @user.location%></p>
  </div>
<div>
<b>Friends</b>
  
  <% @user.friends.each do |friend| %><br /> 
  <%= friend.name %>
  <%#= link_to "Remove", friend, method: :delete %> <!--No user_path could have been destroy_friendship_path-->
<%end%>
  
  </div>
<a href="/users/<%= @user.id %>/edit">Edit</a> |
<a href="/users/<%= @user.id %>/destroy">Destroy</a>
